- provide(:title, @user.name)
%div(class="row" )
  %aside(class="span4" )
    %section
      %h1
        = gravatar_for @user
        = @user.name
  %div(class="span8")
    = render 'follow_form' if signed_in?
    -if @user.microposts.any?
      %h3 Microposts (#{ @user.microposts.count})
      %ol(class="microposts")
        =render @microposts
        = will_paginate @microposts